<div class="cards">
  <h1>All Tasks</h1>
    <ul class="list-group list-group-flush">
    <% @tasks.each do |task| %>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" <%= "checked" if task.completed %>>
      <label class="form-check-label" for="firstCheckbox"><%= link_to task.title, task_path(task) %></label>
    </li>
    <% end %>
    </ul>
    <button type="button" class="btn btn-outline-primary"> <%= link_to "Add a task", new_task_path %></button>
</div>
